.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
    justify-content: center;
}
.table-user {
    background-color: peachpuff;
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}
.table-user td, .table-user th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}